# OS files
.DS_Store
Thumbs.db

# Server
server/node_modules/
server/npm-debug.log
server/yarn-error.log
server/pnpm-debug.log*
server/dist/
server/dist-build/
server/**/*.tsbuildinfo
server/generated/prisma/
server/**/*.db
server/**/*.db-journal
server/logs/
server/**/*.log
server/.env
server/.env.*.local
server/.env.test
server/.env.development.local
server/.env.production.local
server/.env.local
server/.idea/
server/.vscode/
server/**/*.swp
server/**/*.swo

# Chef-mate
chef-mate/logs
chef-mate/**/*.log
chef-mate/npm-debug.log*
chef-mate/yarn-debug.log*
chef-mate/yarn-error.log*
chef-mate/pnpm-debug.log*
chef-mate/lerna-debug.log*
chef-mate/node_modules/
chef-mate/dist/
chef-mate/dist-build/
chef-mate/unpackage/
chef-mate/.hbuilderx/
chef-mate/.vuepress/dist
chef-mate/.serverless/
chef-mate/.eslintcache
chef-mate/.stylelintcache
chef-mate/vite.config.ts.timestamp-*
chef-mate/auto-imports.d.ts
chef-mate/components.d.ts
chef-mate/.idea/
chef-mate/.vscode/
chef-mate/**/*.suo
chef-mate/**/*.ntvs*
chef-mate/**/*.njsproj
chef-mate/**/*.sln
chef-mate/**/*.sw?
chef-mate/.env.local
chef-mate/.env.*.local
chef-mate/**/*.local

# Admin
admin/node_modules/
admin/dist
admin/dist-ssr
admin/**/*.local
