@font-face {
    font-family: 'Quicksand';
    src: url('./static/Quicksand-SemiBold.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('./static/Quicksand-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "NotoSerifSC";
    src: url('./static/NotoSerifSC-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: "NotoSerifSC";
    src: url('./static/NotoSerifSC-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}


.text-quicksand {
    font-family: 'Quicksand', sans-serif;
}

.text-notoserifsc {
    font-family: 'NotoSerifSC', sans-serif;
}